name: post-merge

on:
  push:
    branches:
      - 'main'

env:
  IS_CI: true

jobs:
  post-merge-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flutter-version: [ '3.24.3', '3.27.4', '3.29.3', '3.32.7' ]
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
          cache: true

      - name: Install Dependencies
        run: flutter packages get

      - name: Disable animations
        run: flutter config --no-cli-animations

      - name: Run tests
        run: |
          flutter test --no-pub --coverage --test-randomize-ordering-seed=random

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.FLUTTER_DUIT_COVERALLS_REPO_TOKEN }}
          path-to-lcov: coverage/lcov.info
          flag-name: flutter-${{ matrix.flutter-version }}-UNIT
          parallel: true
          fail-on-error: false

  finish:
    needs: post-merge-test
    runs-on: ubuntu-latest
    steps:
      - name: Finish Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.FLUTTER_DUIT_COVERALLS_REPO_TOKEN }}
          parallel-finished: true
          fail-on-error: false
